:root {
  --color-text-title: #212121;
  --color-text: #757575;
  --accent-color: #2196f3;
  --extra-color: #ffffff;
  --color-client: #afb1b8;
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--text-font);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.links {
  text-decoration: none;
}

.lists {
  list-style: none;
}

.address {
  font-style: normal;
}

.padding-sections {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .padding-sections {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero .container {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--extra-color);
  background-color: var(--accent-color);
  min-width: 200px;
  padding: 10px 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.modal-form .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.social-links-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.team .social-links-link {
  background-color: var(--extra-color);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-links-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-link:hover, .social-links-link:focus {
  background-color: var(--accent-color);
}

.header-pf {
  border-bottom: 1px solid #ececec;
}

.logotype {
  display: block;
  padding: 16px 0;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}

.logotype .accent-logo {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header .logotype {
    padding: 26px 0;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logotype {
    font-size: 26px;
    line-height: 1.192;
    color: #000000;
    padding: 24px 0;
    margin-right: 93px;
  }
}

.footer .logotype {
  margin-right: 0;
  margin-bottom: 4px;
}

@media screen and (max-width: 767px) {
  .navigation-list,
  .contacts-list {
    display: none;
  }
  .mobile-close-btn,
  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .burger-icon {
    height: 40px;
    width: 40px;
  }
  .burger-btn:hover .burger-icon,
  .burger-btn:focus .burger-icon {
    fill: var(--accent-color);
  }
  .close-btn {
    height: 40px;
    width: 40px;
  }
  .mobile-close-btn:hover .close-btn,
  .mobile-close-btn:focus .close-btn {
    fill: var(--accent-color);
  }
  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-180%);
            transform: translateX(-50%) translateY(-180%);
    background-color: var(--extra-color);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding: 48px 40px;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
    z-index: 2;
  }
  .mobile-menu.is-open {
    -webkit-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%);
  }
  .mobile-menu-nav {
    margin-bottom: 302px;
  }
  .mobile-menu-nav-item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-nav-link {
    color: var(--color-text-title);
  }
  .mobile-menu-nav-link:focus, .mobile-menu-nav-link:hover {
    color: var(--accent-color);
  }
  .mobile-contacts-list {
    margin-bottom: 64px;
  }
  .mobile-contacts-list-item {
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .mobile-contacts-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contacts-tel-link {
    font-size: 34px;
    line-height: 1.176;
    color: var(--accent-color);
  }
  .mobile-contacts-mail-link {
    font-size: 24px;
    line-height: 1.167;
    color: var(--color-text);
  }
  .mobile-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-social-links-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
  }
  .mobile-social-links-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-social-links-link {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-menu-nav-item {
    font-size: 30px;
  }
  .mobile-menu-nav,
  .mobile-contacts-list {
    margin-bottom: 0;
  }
  .mobile-contacts-tel-link {
    font-size: 24px;
  }
  .mobile-contacts-mail-link {
    font-size: 20px;
  }
  .mobile-social-links-item {
    font-size: 14px;
  }
  .mobile-social-links-item:not(:last-child) {
    margin-right: 5px;
    padding-right: 5px;
  }
}

.current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mobile-menu {
    display: none;
  }
  .navigation,
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    position: relative;
    color: var(--color-text-title);
    padding: 32px 0;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
  .current.navigation-list-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
  }
  .contacts-list {
    padding: 10px 0;
  }
  .contacts-list-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
  .contacts-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts-mail-link,
  .contacts-tel-link {
    color: var(--color-text);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-mail-link:hover, .contacts-mail-link:focus,
  .contacts-tel-link:hover,
  .contacts-tel-link:focus {
    color: var(--accent-color);
  }
  .contacts-icon-envelope,
  .contacts-icon-phone {
    fill: currentColor;
    margin-right: 8px;
  }
  .contacts-icon-envelope {
    width: 16px;
    height: 10px;
  }
  .contacts-icon-phone {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    padding: 0;
  }
  .contacts-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    padding: 32px 0;
  }
  .contacts-list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .contacts-icon-envelope,
  .contacts-icon-phone {
    margin-right: 10px;
  }
  .contacts-icon-envelope {
    width: 16px;
    height: 12px;
  }
}

.hero {
  text-align: center;
  background: #2f303a;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/mobile/hero_img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/hero_img.jpg");
}

@media screen and (min-devicel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/mobile/hero_img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/hero_img@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/tablet/hero_img.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet/hero_img.jpg");
  }
}

@media screen and (min-devicel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/tablet/hero_img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet/hero_img@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/desktop/hero_img.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop/hero_img.jpg");
  }
}

@media screen and (min-devicel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/desktop/hero_img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop/hero_img@2x.jpg");
  }
}

.hero-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.615;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.features-list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list-item {
    width: 354px;
  }
  .features-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .features-list-item:not(:nth-last-child(2)) {
    margin-bottom: 30px;
  }
}

.features-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.features-icon-item {
  width: 70px;
  height: 70px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-title);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .subtitle {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .features-list-item:not(:last-child) {
    max-width: 270px;
    margin-right: 30px;
  }
  .features-icon {
    padding: 25px 100px;
  }
}

.process {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .process {
    display: none;
  }
}

.process-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process-list-item:not(:last-child) {
  margin-right: 30px;
}

.process-wrapper {
  position: relative;
}

.process-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 26px 0;
  color: var(--extra-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    margin: -15px;
  }
}

.team-list-item {
  max-width: 450px;
  background: var(--extra-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list-item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: 270px;
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list-img {
  width: 100%;
  margin-bottom: 30px;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
  margin-bottom: 10px;
}

.team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
}

@media screen and (max-width: 479px) {
  .social-links {
    padding-left: 76px;
    padding-right: 76px;
  }
}

@media screen and (min-width: 480px) {
  .social-links {
    padding-left: 122px;
    padding-right: 122px;
  }
}

@media screen and (min-width: 768px) {
  .social-links {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .social-links {
    padding: 0 32px 30px;
  }
}

.social-links-item {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 355px) {
  .social-links-item {
    width: 34px;
    height: 34px;
  }
}

.social-links-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-link:hover .social-links-icon,
.social-links-link:focus .social-links-icon {
  fill: var(--extra-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    margin: -15px;
  }
}

.clients-list-item {
  width: 100%;
  height: 90px;
}

@media screen and (max-width: 1199px) {
  .clients-list-item {
    margin: 15px;
  }
}

@media screen and (min-width: 480px) {
  .clients-list-item {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: 170px;
  }
  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 1px solid var(--color-client);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-logo {
  fill: var(--color-client);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-logo,
.client-link:focus .client-logo {
  fill: var(--accent-color);
}

.footer {
  background: #2f303a;
  padding-top: 44px;
  padding-bottom: 60px;
}

.footer .social-links-item {
  width: 44px;
  height: 44px;
}

.footer .social-links-item:not(:last-child) {
  margin-right: 10px;
}

.footer .social-links-icon {
  fill: var(--extra-color);
}

.for-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .for-tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .for-tablet {
    margin-bottom: 40px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .for-tablet {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo-dark {
  color: var(--extra-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .contacts {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-right: 70px;
  }
}

.contact-information-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .contact-information-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-information-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-information-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.contact-address {
  color: var(--extra-color);
}

.contact-information {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .social-items {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .social-items {
    margin-bottom: 60px;
  }
}

.call {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--extra-color);
  margin-bottom: 20px;
  padding-top: 20px;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .mailing {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    min-width: 570px;
    margin-left: auto;
  }
}

.mailing-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .mailing-send {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .mailing-send {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mailing-mail {
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
  padding-left: 16px;
}

@media screen and (max-width: 1199px) {
  .mailing-mail {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-mail {
    margin-right: 12px;
  }
}

.mailing-mail::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-mail:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-mail::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-mail::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow: scroll;
  background-color: var(--extra-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    max-height: 610px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--extra-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-btn:hover .close-btn {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.label {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
  margin-bottom: 12px;
}

.modal-form-input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--color-text);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .input-icone {
  fill: var(--accent-color);
}

.input-icone {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message:focus::-webkit-input-placeholder {
  color: var(--accent-color);
}

.modal-form-message:focus:-ms-input-placeholder {
  color: var(--accent-color);
}

.modal-form-message:focus::-ms-input-placeholder {
  color: var(--accent-color);
}

.modal-form-message:focus::placeholder {
  color: var(--accent-color);
}

.modal-form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-form-label-policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.modal-form-label-policy::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-text-title);
  content: "";
  margin-right: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  border: transparent;
  background-color: var(--accent-color);
  background-origin: border-box;
  background-image: url(../images/check.svg);
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  border: 2px solid var(--accent-color);
}

.modal-form-label-policy .policy-link {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */