.header-pf {
  border-bottom: 1px solid #ececec;
}

.logotype {
  display: block;
  padding: 16px 0;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--color-text-title);

  .accent-logo {
    color: var(--accent-color);
  }

  .header & {
    @media screen and (min-width: 768px) {
      padding: 26px 0;
      margin-right: 84px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.192;
      color: #000000;
      padding: 24px 0;
      margin-right: 93px;
    }
  }

  .footer & {
    margin-right: 0;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list,
  .contacts-list {
    display: none;
  }

  .mobile-close-btn,
  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .burger-icon {
    height: 40px;
    width: 40px;

    .burger-btn:hover &,
    .burger-btn:focus & {
      fill: var(--accent-color);
    }
  }

  .close-btn {
    height: 40px;
    width: 40px;

    .mobile-close-btn:hover &,
    .mobile-close-btn:focus & {
      fill: var(--accent-color);
    }
  }

  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-180%);
    background-color: var(--extra-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    padding: 48px 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
  }

  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }

  .mobile-menu-nav {
    margin-bottom: 302px;
  }

  .mobile-menu-nav-item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .mobile-menu-nav-link {
    color: var(--color-text-title);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }

  .mobile-contacts-list {
    margin-bottom: 64px;
  }

  .mobile-contacts-list-item {
    font-weight: 500;
    letter-spacing: 0.02em;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .mobile-contacts-tel-link {
    font-size: 34px;
    line-height: 1.176;
    color: var(--accent-color);
  }

  .mobile-contacts-mail-link {
    font-size: 24px;
    line-height: 1.167;
    color: var(--color-text);
  }

  .mobile-social {
    display: flex;
    align-items: center;
  }

  .mobile-social-links-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;

    &:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  .mobile-social-links-link {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu-nav-item {
    font-size: 30px;
  }

  .mobile-menu-nav,
  .mobile-contacts-list {
    margin-bottom: 0;
  }

  .mobile-contacts-tel-link {
    font-size: 24px;
  }

  .mobile-contacts-mail-link {
    font-size: 20px;
  }

  .mobile-social-links-item {
    font-size: 14px;

    &:not(:last-child) {
      margin-right: 5px;
      padding-right: 5px;
    }
  }
}

.current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mobile-menu {
    display: none;
  }

  .navigation,
  .navigation-list {
    display: flex;
    align-items: center;
  }

  .navigation-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .navigation-list-link {
    position: relative;
    color: var(--color-text-title);
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .current {
    color: var(--accent-color);

    &.navigation-list-link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: var(--accent-color);
    }
  }

  .contacts-list {
    padding: 10px 0;
  }

  .contacts-list-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .contacts-mail-link,
  .contacts-tel-link {
    color: var(--color-text);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contacts-icon-envelope,
  .contacts-icon-phone {
    fill: currentColor;
    margin-right: 8px;
  }

  .contacts-icon-envelope {
    width: 16px;
    height: 10px;
  }

  .contacts-icon-phone {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;
  }

  .contacts-list-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    padding: 32px 0;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  .contacts-icon-envelope,
  .contacts-icon-phone {
    margin-right: 10px;
  }

  .contacts-icon-envelope {
    width: 16px;
    height: 12px;
  }
}
// .contacts-mail-link-current {
//   color: var(--accent-color);
// }

// .contacts-mail-link-pf {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: inherit;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .contacts-mail-link-pf {
//   text-decoration: inherit;
// }
