.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.team-list-item {
  max-width: 450px;
  background: var(--extra-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-list-img {
  width: 100%;
  margin-bottom: 30px;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
  margin-bottom: 10px;
}

.team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;

  @media screen and (max-width: 479px) {
    padding-left: 76px;
    padding-right: 76px;
  }

  @media screen and (min-width: 480px) {
    padding-left: 122px;
    padding-right: 122px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 74px;
    padding-right: 74px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 32px 30px;
  }
}

.social-links-item {
  @media screen and (max-width: 355px) {
    width: 34px;
    height: 34px;
  }
  width: 44px;
  height: 44px;
}

// .current-link {
//   background-color: var(--accent-color);

//   & .social-links-icon {
//     fill: var(--extra-color);
//   }
// }

.social-links-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-links-link:hover &,
  .social-links-link:focus & {
    fill: var(--extra-color);
  }
}
