:root {
  --color-text-title: #212121;
  --color-text: #757575;
  --accent-color: #2196f3;
  --extra-color: #ffffff;
  --color-client: #afb1b8;

  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}
